body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Fahkwang', 'Tangerine', serif;
    font-size: 18px;
    text-shadow: 4px 4px 4px #aaa;
    /*     color: blue;		 */
    background-color: #00afd7;
//    background-image: url(../images/sunset1.JPG);
    background-size: 1000px 900px;
    background-repeat: no-repeat;
    background-position: center center;
    //    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 20%,rgba(0,0,0,0.6) 20%), url(../images/sunset1.JPG);
}
.button {
    position: fixed;
    /* the bottom of the button will always be
        20px from the bottom of the window */
    bottom: 20px;
    /* the right edge of the button will always be
        20px from the right side of the window */
    right: 20px;
    color: red;
    }

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* headers and top links*/

#top {
  position: absolute;
  top:0;
}

.top {
  float:right;
  padding-top: 20px;
}
code {
    display:block;padding:0.5em;
    color:#333;
    background:#f8f8ff
}
/* I included this in my CSS so that you could run the snippet below! */
.extra-cool-text {
  color: #42cbad;
  font-weight: 700;
  line-height: 80px;
}

